<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <connectionStrings>
    <!-- add name="Default Connection" connectionString="tcp:whatnottowatchserver.database.windows.net,1433;Initial Catalog=WhatNotToWatchDB;Persist Security Info=False;User ID=jcocchi;Password=Password6223;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" / -->

    <add name="Default Connection"
      providerName="System.Data.SqlClient"
      connectionString="Server=tcp:whatnottowatchserver.database.windows.net,1433;Initial Catalog=WhatNotToWatchDB;Persist Security Info=False;User ID=jcocchi@whatnottowatchserver.database.windows.net;Password=Password6223;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
