@model IEnumerable<WhatNotToWatch.Models.TVShow>

@{
    ViewData["Title"] = "What Not To Watch";
}

<h1>What Not To Watch</h1>

<div class="row">
    <div class="col-lg-12"> <h2>Write a New Review</h2> </div>
    <div class="otherText">
        There are a lot of great TV Shows out there, but there are even more TV shows that aren't worth your time to watch.
        Let us know what you think by adding a review! 
        But be careful, anyone can vote on the quality of your review and if the vote count reaches "-5" your review will be removed.
    </div><br />
    <a asp-controller="Reviews" asp-action="Create" class="btn btn-default">Add Review</a>
    <a asp-controller="Reviews" asp-action="Index" class="btn btn-default">Browse All Reviews</a>
</div>
