@model IEnumerable<WhatNotToWatch.Models.TVShow>

@{
    ViewData["Title"] = "What Not To Watch";
}

<h1>What Not To Watch</h1><br />

<div class="row">
    <div class="homeImgSpan">
        <img src="~/images/tv.png" class="homeImg" />
    </div>

    <div class="homeText"> <br />
        There are a lot of great TV Shows out there, but there are even more TV shows that aren't worth your time to watch.
        Let us know what you think by adding a new review or voting on an existing review! 
        But be careful, anyone can vote on the quality of your review and if the vote count reaches "-5" your review will be removed.
    </div><br />
    <div class="homeBtns">
        <a asp-controller="Reviews" asp-action="Create" class="btn btn-default">Add Review</a>
        <a asp-controller="Reviews" asp-action="Index" class="btn btn-default">Browse All Reviews</a>
    </div>
</div>
