@using WhatNotToWatch.Models
@model TVShow

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> What Not To Watch - Add TV Show Review </title>
</head>
<body>
    <h1>Add TV Show Review</h1>

    <div class="col-lg-12">
        <div class="centerCol">
            <img src="~/images/reviews.jpg" class="createImg" />
        </div>
        <br />
    </div>
    <div class="col-lg-12">
        <form asp-controller="Reviews" asp-action="Create" method="post">
            <div class="createShowTable">
                <p>
                    <label asp-for="Name"></label><span class="required">* &nbsp;</span>
                    <input type="text" asp-for="Name" /><br />
                    <span asp-validation-for="Name" class="required"></span>
                </p>

                <p>
                    <label asp-for="Genre"></label> &nbsp;&nbsp;
                    @Html.DropDownListFor(m => m.Genre, Html.GetEnumSelectList(typeof(Genre)))<br />
                    <span asp-validation-for="Genre" class="required"></span>
                </p>

                <p>
                    <label asp-for="Rating"></label>
                    <span class="ratingSpan">
                        Thinking of numbers is hard, so we'll do it for you! <br />
                        Your rating will be auto generated based on your review by the <a href="https://www.microsoft.com/cognitive-services/en-us/text-analytics-api" target="_blank">Text Analyitics API</a> from Microsoft Cognitive Services.
                        <br /><br />
                    </span>
                </p>

                <p>
                    <label asp-for="Review"></label> <span class="required">* &nbsp;</span>
                    <textarea asp-for="Review"></textarea><br />
                    <span asp-validation-for="Review" class="required"></span>
                </p>
            </div>

            <div>
                <input type="submit" value="Submit" class="btn btn-default" /> &nbsp;
                <a asp-action="Index" class="btn btn-default">Back</a>
            </div>
        </form>
    </div>
</body>
</html>
